* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}
/* Body Style */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header Section styles */
.header {
    
    width: 1600px;
    padding: 24px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 32px;
    font-weight: 700;
    color: rgb(14, 14, 14);
}

.sign-in-btn {
    padding: 15px 30px;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    background: none;
    font-weight: 600;
}

/* Banner Section styles */
.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    max-width: 1280px;
    margin: 0 auto 80px auto;
}

.banner-text {
    width: 622px;
    height: 326px;
}

.banner-title {
    font-size: 56px;
    font-weight: 700;
    margin: 24px 0;
}

.banner-button {
    padding: 17px 34px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    border: none;
}

.banner-image {
    width: 474.03px;
    height: 329.21px;
}

/* Vision Section styles */
.vision-container {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.vision-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.vision-subtitle {
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}

.vision-card-container {
    display: flex;
    gap: 24px; 
}

.card-1, .card-2, .card-3 {
    width: 410.67px;
    height: 325px;
    padding: 32px;
    border-radius: 16px;
}

.card-title {
    font-size: 20px;
    font-weight: 700;
    margin: 12px 0;
}


.card-1{
     background: rgba(84, 144, 245, 0.2);
}
.card-2{
    background: rgb(198, 228, 214);
}
.card-3{
    background: rgb(247, 235, 207);
}

.card-btn-1{
    margin-top: 24px;
    padding: 11px 20px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    background: rgb(84, 144, 245);
    border: none;
}

.card-btn-2{
    margin-top: 48px;
    font-size: 16px;
    font-weight: 600;
    padding: 11px 20px;
    border-radius: 8px;
    color: white;
    background: rgb(9, 161, 92);
    border: none;
}
.card-btn-3{
    margin-top: 48px;
    font-size: 16px;
    font-weight: 600;
    padding: 11px 20px;
    color: white;
    border-radius: 8px;
    border: none;
    background: rgb(255, 194, 57);

    
}

/* news section styles */

.news-section {
    display: flex;
    margin-top: 80px;
    width: 1280px;
    flex-direction: column;

  }
  
  .news-header-text{
    width: 1280px;
    flex-direction: column;
  }
  
  .news-title {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
  }
  
  .news-description {
    margin-top: 24px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
    line-height: 24px;
}
  
  .news-content {
    margin-top: 32px;
    width: 100%;
   
}
  
.news-card-1{
    border-radius: 24px;
    background-color: white;
    display: flex;
    width: 1280px;
    align-items: center;
    gap: 32px;
    padding: 48px;
    margin-bottom: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
  }
.news-card-2{
    border-radius: 24px;
    background-color: white;
    display: flex;
    width: 1280px;
    align-items: center;
    gap: 32px;
    padding: 48px;
    margin-bottom: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
  }
  
  .news-image {

    border-radius: 24px;
    width: 408px;
    height: 306px;
  }
  
  .news-card-content {
    justify-content: space-between;
  }
  
  .article-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
  }
  
  .article-date-time {
    display: flex;
    margin-top: 12px;
    gap: 12px;
    flex-wrap: wrap;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
  }
  
  .article-logo {
    width: 134px;
    height: 40px;
  }
  
  .article-text {
    margin-top: 12px;
    line-height: 24px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
  }
  
  .read-more-btn {
    margin-top: 32px;
    border-radius: 8px;
    background-color: rgb(0, 106, 80);
    padding: 13px 26px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    border: none;
  }

/* donation section */

.donation-container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1280px;
    height: 464px;
}

.header-section {
    text-align: center;
    width: 1280px;
    height: 120px;
}

.donation-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
    color: rgb(14, 14, 14);
}

.description-text {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    text-align: center;
    line-height: 24px;
}

.amount-container {
    flex-grow: 0;
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    color: rgba(14, 14, 14, 0.8);
    font: 700 40px;
}

.amount-options {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 40px;
    min-width: 264px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
}

.amount-option-selected {
    background-color: rgba(198, 228, 214, 1);
}

.donate-input{
    margin-top: 32px;
    width: 1032px;
    height: 64px;
    padding: 20px 40px 20px 40px;
    border: none;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    margin: 12px 0px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: rgba(14, 14, 14, 0.3);
    margin-left: 124px;

}
 
.btn-container{
    margin-top: 32px;
    text-align: center;
}
 
.donate-button {
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background: rgb(0, 106, 80);
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
  
}

.newsletter-container{
    width: 1280px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 100px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    text-align: center;
}

.news-letter-title{
    font-size: 40px;
    font-weight: 700;
    color: rgb(14, 14, 14);
    margin-top: 16px;
}
.newsletter-description{
    margin-top: 16px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}

#email{
    margin-top: 24px;
    width: 600px;
    height: 55px;
    border-radius: 8px 0px 0px 8px;
    font-size: 16px;
    font-weight: 400;
    background: rgb(255, 255, 255);
    color: rgba(14, 14, 14, 0.3);
}

.subscribe-btn{
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 0px 8px 8px 0px;
    padding: 17px 34px 17px 34px;
    background: rgb(0, 106, 80);
}
.mews-p{
    margin-top: 24px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}